body{
    margin:0;
   
    position: relative;
}
/* box-sizing */
*{
    box-sizing: border-box;
}
#intro-section,
.content-part,
body,
#menu-part,.item-container{
    max-width:100vw;
}

.item-plus{
 
    justify-content: center;
}


.emoji-name{
    width: 20%;
}
.emoji-name h2{
    font-size: 0.8rem ;
}
.item-plus{
    width: 10%;
}

.item-details{
    
    width:50%
}
.item-details h2{
    font-size:1.2rem ;
    text-align: center;
}
.item-details h3{
    font-size: 0.8rem;
    
    /* padding: 0.5em 0; */
    /* border:#38b000 solid 3px; */
}
.item-details{
    justify-content: space-between;
    gap:0.2em;
    
}
#intro-section{
    height:15vh;
    
}
/* flex display and directions */
body,
#intro-section,
.order,
#form-sec,
#order-form,
#order-part,
#menu-part,
.item-container,
.item-details,
.item-plus{
    display: flex;
    
}
body,
#intro-section,
#order-part,
#form-sec,
#order-form,
#thank-sec,#menu-part{
    flex-direction: column;
}
.order,.item-container,.item-details{
    flex-direction: row;
}

/*  Align items part*/
.intro-part,
#order-form,
#thank-sec,
.item-details,
.item-plus{
    align-items: center;
}


/* margin auto */

#form-sec,#order-form,#thank-sec{
    margin: auto;
}

#intro-section{
    background-image: url(images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:aliceblue;
    
                     
    
}

/* width */
#order-form,#order-form input{
    width:90vw;
;
}
.intro-part{
   font-size: 1rem;
   padding: 1em;
   
    text-shadow: 0 0 0.55em black;
}

#sub-head{
    font-size:0.8em; 
     
}

#order-part{
    margin-bottom: 1.25em; 
}




span{
    font-size: 2.5rem; 
    
}
.fa-solid{
    font-size: 2rem; /*24px*/
    
}

.green-back{
    background: #38b000;
    color:whitesmoke;
    font-weight: bold;
    height: 40px;
}




.delete-button{
    border:none;
    margin: auto auto auto 0.625em;/* 10px */
    height:10px;
}

#form-sec{
    width:300px;
    height:280px;  
}


#order-form{
    width:90%;
    gap:10px;
}
#form-sec h2{
    margin:0.125em;/* 2px */
}
#order-form input{
    border: gray solid 0.125em;
    padding: 0.25em 0.3125em; /* 4px 5px */
   
}

.exit-button{
    margin:0 0 auto auto ;
}
/* inset fixed */
#thank-sec,#form-sec{
    position: fixed;
    inset: 0;  
    background: white;
    border:black solid 2px;
}
#thank-sec{
    width:20%;
    height:30%;
    
    
}

/* text align */
#thank-sec,#form-sec,.emoji-name{
    text-align: center;
}