body{
    margin:0;
   
    position: relative;
}
/* box-sizing */
*{
    box-sizing: border-box;
}
#intro-section,
.content-part,
body,
#menu-part,.item-container{
    max-width:100vw;
}


.item-plus{
 
    justify-content: center;
}


.emoji-name{
    width: 30%;
}
.emoji-name h2{
    font-size: 1.3rem ;
}
.item-plus{
    width: 15%;
}

.item-details{
    
    width:55%
}
.item-details h2{
    font-size:1.2rem ;
    
    
}
.item-details h3{
    font-size: 1.3rem;
    
    padding: 1em; 
    /* border:#38b000 solid 3px; */
}
.item-details,.order-second{
    justify-content: space-between;
   
    
}
#intro-section{
    height:15vh;
    align-items: start;
    
}
.intro-part{
    height:100%;
    margin:0;
    padding: 1em;
}
/* flex display and directions */
body,
.order,
#form-sec,
#order-form,
#order-part,
#menu-part,
.item-container,
.item-details,
.item-plus{
    display: flex;
    
}
body,
#intro-section,
#order-part,
#form-sec,
#order-form,
#thank-sec,#menu-part{
    flex-direction: column;
}
.order,.item-container,.item-details{
    flex-direction: row;
}

/*  Align items part*/
header,
#order-form,
#thank-sec,
.item-details,
.item-plus,
.item-container{
    align-items: center;
}


/* margin auto */

#form-sec,#order-form,#thank-sec{
    margin: auto;
}

#intro-section{
    background-image: url(images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:aliceblue;
    
                     
    
}

/* width */
#order-form,#order-form input{
    width:90vw;
;
}
header{
   font-size: 1.010rem;   
    text-shadow: 0 0 0.55em black;
}


#sub-head,#main-title{
    /* font-size:1.4em;  */
    margin: 0.1em 0;
    
     
}


span{
    font-size: 3rem; 
    
}
.fa-solid{
    font-size: 2rem; /*24px*/
    
}

.green-back{
    background: #38b000;
    color:whitesmoke;
    font-weight: bold;
    height: 40px;
}




.delete-button{
    border:none;
    margin: auto auto auto 0.625em;/* 10px */
    height:10px;
}

#form-sec{
    width:300px;
    height:280px;  
}


#order-form{
    width:90%;
    gap:10px;
}
#form-sec h2{
    margin:0.125em;/* 2px */
}
#order-form input{
    border: gray solid 0.125em;
    padding: 0.25em 0.3125em; /* 4px 5px */
   
}

.exit-button{
    margin:0 0 auto auto ;
}
/* inset fixed */
#thank-sec,#form-sec{
    position: fixed;
    inset: 0;  
    background: white;
    border:black solid 2px;
}
#thank-sec{
    width:20%;
    height:30%;
    
    
}
.order,.order-second{
    width: 50%;
}
#order-part{
    margin-top: 1em;
}

#order-part .item-container{
    gap:1em;
    margin-right: 0.5em;
    
}

/* text align */
#thank-sec,#form-sec,.emoji-name{
    text-align: center;
}